In [8]:
%matplotlib notebook
%matplotlib inline

import trendet
import investpy
import yfinance as yf
import mplfinance as fplt

import numpy as np
import pandas as pd
import seaborn as sns

import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt

from datetime import datetime
from subprocess import check_output

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')

<blockquote> O conjunto de dados Cardano – ADA/USD, objeto deste projeto, foi obtido no sítio Yahoo Finance, em 09 de outubro de 2021.</blockquote>


<blockquote> Os dados, consiste em 1 (um) dataset com mesma estrutura, foram coletados em 2021 por meio de API por Yahoo Finance [2.1]. Como exposto, trata-se de 1 arquivo texto, relacionado a leitura da movimentação financeira cripto moeda CARDANO, sendo um referente aos valores característicos do movimento diário da negociação, totalizando 6 (seis) colunas e 1000 (mil) linhas. A referência a essa quantidade pode ser observada na Figura 2.1</blockquote>

In [17]:
# Leitura da da base de dados API
cardano = yf.download("ADA-USD", "Bicoin", start="2019-01-01", end="2021-10-1")

TypeError: download() got multiple values for argument 'start'

In [10]:
cardano.head(10)

                Open      High       Low     Close  Adj Close    Volume
Date
2019-01-01  0.040984  0.042547  0.040308  0.042547   0.042547  14962902
2019-01-02  0.042568  0.045563  0.041982  0.045258   0.045258  24151526
2019-01-03  0.045106  0.045259  0.042535  0.042682   0.042682  21126963
2019-01-04  0.042629  0.044092  0.042477  0.043812   0.043812  16024029
2019-01-05  0.043659  0.045570  0.043350  0.044701   0.044701  25100965
2019-01-06  0.044709  0.049637  0.044709  0.049261   0.049261  51366407
2019-01-07  0.049266  0.050744  0.047579  0.047996   0.047996  45688431
2019-01-08  0.048140  0.050021  0.046749  0.048525   0.048525  34626383
2019-01-09  0.048567  0.052740  0.048533  0.052169   0.052169  55364234
2019-01-10  0.052049  0.054636  0.042756  0.044529   0.044529  91162431

In [12]:
cardano.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2019-01-01 to 2021-09-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1000 non-null   float64
 1   High       1000 non-null   float64
 2   Low        1000 non-null   float64
 3   Close      1000 non-null   float64
 4   Adj Close  1000 non-null   float64
 5   Volume     1000 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 54.7 KB

<blockquote>Para enriquecer o trabalho, foi incluído outra base de dados referente ao Valor de Mercado, obtido no site COINMARKETCAP, referência mundial em assuntos sobre criptomoedas. Os dados foram obtidos atrás de download no site COINMARKETCAP, contém Date (data) e Cap_Mercado (Valor de mercado), conforme figura 2.3.</blockquote>

In [15]:
v_mercado = pd.read_csv("v_mercado.csv", delimiter=';', header=0, parse_dates=[0],
                        index_col=0)
v_mercado.index = pd.to_datetime(v_mercado.index)

v_mercado = v_mercado.sort_values(by='Date')  # Ordenar o dados pela Data

<blockquote>Cada linha dos arquivos contém um registro sobre data (data), Valor de Mercado (Cap_Mercado), sendo um referente aos valores característicos do valor de mercado, totalizando 2 (duas) colunas e 1000 (mil) linhas conforme figura 2.4.</blockquote>

In [16]:
v_mercado.head(2)

            Cap_Mercado
Date
2019-01-01   1103113660
2019-01-02   1173420170