In [1]:
%matplotlib notebook
%matplotlib inline

import trendet
import investpy
import yfinance as yf
import mplfinance as fplt

import numpy as np
import pandas as pd
import seaborn as sns

import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt

from datetime import datetime
from subprocess import check_output

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Leitura da da base de dados API
cardano = yf.download("ADA-USD", start="2019-01-01", end="2021-10-1")

[*********************100%***********************]  1 of 1 completed

In [10]:
cardano.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2019-01-01 to 2021-09-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1000 non-null   float64
 1   High       1000 non-null   float64
 2   Low        1000 non-null   float64
 3   Close      1000 non-null   float64
 4   Adj Close  1000 non-null   float64
 5   Volume     1000 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 54.7 KB

In [4]:
v_mercado = pd.read_csv("v_mercado.csv", delimiter=';', header=0, parse_dates=[0],
                        index_col=0)
v_mercado.index = pd.to_datetime(v_mercado.index)

v_mercado = v_mercado.sort_values(by='Date')  # Ordenar o dados pela Data

In [23]:
v_mercado.head(10)

            Cap_Mercado
Date
2019-01-01   1103113660
2019-01-02   1173420170
2019-01-03   1106608705
2019-01-04   1135911589
2019-01-05   1158975656
2019-01-06   1277183981
2019-01-07   1244393599
2019-01-08   1258115426
2019-01-09   1352599204
2019-01-10   1154512658

In [12]:
v_mercado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1004 entries, 2019-01-01 to 2021-09-30
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cap_Mercado  1004 non-null   int64
dtypes: int64(1)
memory usage: 15.7 KB

In [15]:
data = pd.merge(cardano, v_mercado, on="Date", how="left")
data.head(2)

,Open,High,Low,Close,Adj Close,Volume,Cap_Mercado
Date,,,,,,,
2019-01-01,0.040984,0.042547,0.040308,0.042547,0.042547,14962902,1103113660
2019-01-02,0.042568,0.045563,0.041982,0.045258,0.045258,24151526,1173420170

In [17]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Cap_Mercado
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,0.431369,0.453088,0.409461,0.433521,0.433521,1.502956e+09,1.359758e+10
std,0.680857,0.715110,0.645301,0.683078,0.683078,2.620670e+09,2.199056e+10
min,0.023954,0.025993,0.019130,0.023961,0.023961,1.101152e+07,6.212325e+08
25%,0.046203,0.047660,0.044936,0.046247,0.046247,7.086366e+07,1.199071e+09
50%,0.084358,0.087002,0.081608,0.084507,0.084507,2.028038e+08,2.207520e+09
75%,0.348392,0.367239,0.332560,0.348493,0.348493,1.810102e+09,1.084247e+10
max,2.966390,3.099186,2.907606,2.968239,2.968239,1.914198e+10,9.502550e+10

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2019-01-01 to 2021-09-30
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Open         1000 non-null   float64
 1   High         1000 non-null   float64
 2   Low          1000 non-null   float64
 3   Close        1000 non-null   float64
 4   Adj Close    1000 non-null   float64
 5   Volume       1000 non-null   int64
 6   Cap_Mercado  1000 non-null   int64
dtypes: float64(5), int64(2)
memory usage: 62.5 KB